@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  font-weight: 700;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: unset;
  text-decoration: none;
}

.logoAnimation {
  color: white !important;
  width: 100px !important;
  margin-left: 10px !important;
  animation: logo-circle 5s linear infinite 0s;
  transition: 0.5s !important;
}
.logoAnimation:hover {
  width: 45px !important;
  height: 45px !important;
  transform: rotate(180deg);
  animation: logo-circle 5s linear infinite 0s;
  /* transition: linear 1s; */
  /* Вопрос */
}
.color-white {
  color: white;
}

/* Navbar setttings */
.app-bar {
  background-color: black !important;
}
.logoutColor {
  color: white;
}

#tsparticles {
  position: fixed;
  width: 100%;
  z-index: -1;
}

.slide {
  max-height: 550px;
  max-width: 550px;
}
.card-page {
  display: flex;
  align-items: center;
}
.add-product {
  display: flex;
  flex-direction: column;
}
.add-edit-page form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.table__row {
  /* border: solid 3px #d2ad50; */
  background-color: #d2ad50 !important;
  border: solid 1px #d2ad50;
  /* color: white !important; */
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  margin-top: 50px;
  column-gap: 25px;
  background-color: transparent;
}

.product-card-image {
  object-fit: contain !important;
}
@keyframes logo-circle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(500deg);
  }
  100% {
    transform: rotate(1000deg);
  }
}
